
{% extends "base.html" %}
{% load i18n %}

{% block meta_title %}{% trans "Chat" %}{% endblock %}
{% block title %}{% trans "Chat" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Chat" %}</li>
{% endblock %}

{% block main %}
    <style>
      * { margin: 0; padding: 0; box-sizing: border-box; }
      /*body { font: 13px Helvetica, Arial; }*/
      /*form { background: #000; padding: 3px;} /*position: fixed; bottom: 0; width: 30%; }*/
      form input { border: 0.5; padding: 5px; width: 90%;} /*margin-right: .5%; }*/
      /*form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; }*/
      #messages { list-style-type: none; margin: 0; padding: 0; }
      #messages li { padding: 5px 10px; }
      #messages li:nth-child(odd) { background: #eee; }
    </style>

    <script>
    //$(doument).ready(function(){
    //$('#chatDiv').animate({
      //scrollTop: $('#chatDiv').get(0).scrollHeight}, 2000);
     //});
     function scrollDiv()
     {
        var objDiv = document.getElementById("chatDiv");
        objDiv.scrollTop = objDiv.scrollHeight
     }

     function csrfSafeMethod(method) {
         // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
     }

     function getCookie(name) {
       var cookieValue = null;
       if (document.cookie && document.cookie != '') {
           var cookies = document.cookie.split(';');
           for (var i = 0; i < cookies.length; i++) {
               var cookie = jQuery.trim(cookies[i]);
               // Does this cookie string begin with the name we want?
               if (cookie.substring(0, name.length + 1) == (name + '=')) {
                   cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                   break;
               }
           }
       }
       return cookieValue;
     }

    </script>

    <div id="chatDiv" style="overflow-y: auto; height:350px;">
    <ul id="messages"></ul>
    <form id="msg-form" class="form-inline" action="">
      {% csrf_token %}
      <input id="m" autocomplete="off" /><button class="btn btn-primary btn-md">Send</button>
    </form>
    </div>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
     $(document).ready(function() {
      var socket = io('http://margffoy-tuay.com:3000');
      //$('form').submit(function(){
        //socket.emit('chat message', $('#m').val());
        //$('#m').val('');
        //return false;
      //});

      $('#msg-form').submit(function(event)
      {
         var formData = {
            'msg': $('#m').val()
         };
         var csrftoken = getCookie('csrftoken');
         $.ajax({
            type:'POST',
            url:'process/',
            data: formData,
            dataType:'html',
            encode:true,
            headers: {'X-CSRFToken': csrftoken}
         })
         .done(function(data) {
               console.log(data)
         });
         $('#m').val('');
         event.preventDefault();
      });
      socket.on('chat message', function(msg){
        $('#messages').append($('<li>').text(msg));
        scrollDiv();
      });
     });
    </script>

{% endblock %}
